

.App {
  text-align: center;
}
.trending{
/* border: 2px solid black; */
height: 120px;
margin: 1px;

}
.crisis{
  /* border: 2px solid black; */
  height: 500px;
}
.morev{
  border: 2px solid black;
  height: 500px;
}
.viral{
  border: 2px solid black;
  height: 400px;
  }
.recommended{
  border: 2px solid black;
  height: 400px;
}
.politics{
  border: 2px solid black;
  margin: 1px;
  height: 500px;
}
.viralv{
  border: 2px solid black;
  height: 400px;
}
.tech{
  border: 2px solid black;
  height: 400px;
}

.header{
  height: 40px;
}
navexpand{
  height: 120px;
}
.navb{
  background-color: #EF3A3A;
}
.search{
 padding: 50vh;
}
.searchbar{
  padding-left: 50vh;

}
.searchbar input{
  width: 100vh;
  height: 7vh;
  
 }
 .BsSearch{
  height: 7vh;
  width: 8vh;
  padding-left: 41vh;
  padding-top: 2vh;
 }

/* .searchb{
  text-align: center;
  padding-left: ;
} */
.userb{
  text-align: end;
  padding-top: 4px;
}

Nav.Link{
  color: aliceblue;
}
.Explore {
  background-color: black;
  color: white;
  /* width: 100%; */
  font-size: 15px;
  
  padding-bottom: 4px;
  padding-left: 11vh;
}

.Explore h4 {
  padding-left: 6.5vh;
  text-align: start;
  padding-top: 8px;
  padding-bottom: 8px;
}

ul {
  list-style-type: none;
  


}

.Explore ul li {
  /* margin: 2px;  */
padding-left: 4px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-left: 1px solid white;
  /* padding-left: 5px; */
 
}
a{
  text-decoration: none;
  padding: 7px;
  padding-bottom: 10px;
}
a:hover{
  text-decoration: none;
  padding: 7px;
  /* padding-left: 10px; */
  padding-bottom: 10px;
  background-color: rgb(14, 214, 148);
  transition: 1s;
  /* font-weight: bold; */
}
.Social a:hover{
  text-decoration: none;
  /* padding: 7px;
  padding-left: 10px;
  transform: scale(1.2); */
  /* padding-bottom: 10px; */
  background-color: rgb(235 58 58);
  /* transition: 1s; */
  font-weight: bold;
  transform: scale(2.2);
  color:#ff003c;
  background:-webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-out;

}
.footer-link {

  /* float: left; */
  /* border-left: 1px solid white; */
  padding-right: 23vh;


}
.Footer1 {
  background-color: rgb(235 58 58);
  color: white;
  text-align: start;
 
  font-size: 16px;
 
} 


.Footer1 ul li{
  text-align: start;
  padding-top: 10px;
  
}
 ul li :hover{
  text-align: start;
  padding-top: 10px;
  background-color: darkcyan;
border-radius: 20px;
padding-left: 15px;
padding-right: 15px;
  
  
}

.Footer1 h3{
  font-style: bold;
  font-size: 20px;
  padding-left:30px;
  
  
}
.Social {
text-align: center;
}

.footer{
  overflow:hidden;
}
.footer-link{
 
}
h1{
  font-style: bold;
  font-family: "El Messiri";
  font-size: 32px;
}
h2{
  font-style:medium;
  font-family: "Libre Franklin";
  font-size: 24px;
}
h3{
  font-style:bold;
  font-family: "Libre Franklin";
  font-size: 20px;
}
h4{
  font-style:bold;
  font-family: "inter";
  font-size: 24px;
}
h5{
  font-style:regular;
  font-family: "Libre Franklin";
  font-size: 20px;
}
h6{
  font-style:regular;
  font-family: "Libre Franklin";
  font-size: 18px;
}
body{
  font-style:light;
  font-family: "Libre Franklin";
  font-size: 11px;
}
body .small{
  font-style:extra light;
  font-family: "Libre Franklin";
  font-size: 11px;
}